<header class="main-header">

    <div class="header-right">

        <a href="index.html" class="logo">
            SEENEMA
        </a>

        <nav class="nav-menu">

            <a href="#" class="nav-link active">
                خانه
            </a>

            <a href="#">
                فیلم‌ها
            </a>

            <a href="#">
                سریال‌ها
            </a>

            <a href="#">
                انیمه
            </a>

            <a href="#">
                جدیدترین‌ها
            </a>

        </nav>

    </div>

    <div class="header-left">

        <button class="header-btn search-btn">
            <i class="bi bi-search"></i>
        </button>

        <button class="header-btn notification-btn">
            <i class="bi bi-bell-fill"></i>
        </button>

        <button class="header-btn theme-btn">
            <i class="bi bi-moon-stars-fill"></i>
        </button>

        <button class="login-btn">
            <i class="bi bi-file-person-fill"></i>
        </button>

    </div>

</header>