<header class="main-header">

    <div class="header-right">

        <a href="index.html" class="logo">
            SEENEMA
        </a>

        <nav class="nav-menu">

            <a href="#" class="nav-link active">
                خانه
            </a>

            <a href="#">
                فیلم‌ها
            </a>

            <a href="#">
                سریال‌ها
            </a>

        </nav>

    </div>

    <div class="header-left">

        <button class="header-btn search-btn">
            <i class="bi bi-search"></i>
        </button>

        <button class="header-btn notification-btn">
            <i class="bi bi-bell-fill"></i>
        </button>

        <div class="profile-menu">
        
            <button id="profileBtn">
                <i class="bi bi-person-circle"></i>
            </button>
        
            <div
                id="profileDropdown"
                class="profile-dropdown"
            >
            </div>
        
        </div>

    </div>

</header>